<% provide(:title, "Log In") %>
<!DOCTYPE html>
<html>
<head>
  <script type="text/javascript" src ="/assests/AP.js"></script>
  <link rel="stylesheet" type="text/css" href="/assests/AP.css" />
  <title><%= yield(:title) %> | Bochitto Travel</title>

</head>

<style >
  
  .sr-only{

    border: 2px solid red;
    height: none;
  }
  .shadow1 {
    box-shadow: 0 5rem 1rem rgba(0,0,0,.15)!important;
  }
</style>

<body background="https://i0.wp.com/canaveralresearchcenter.com/wp-content/uploads/2018/07/free-beach-wallpaper-screensavers-best-of-florida-beach-screensavers-and-wallpaper-florida-beach-android-of-free-beach-wallpaper-screensavers.jpg?ssl=1">

  <%= render 'layouts/header' %>

    <div  class="container col-md-6 col-md-offset-3 shadow1" style="
    background: #fffff0cf;
    position: sticky;
    margin-top: 5%;
    width: 40%;
    margin-bottom: 15%;
    height: max-content;
    left: 30%;
    border-radius: 15px;">

  <%= form_for(:session, url: login_path) do |f| %>
  <h2 style="text-align: center;">Please Log In</h2>
  <p>
    <%= f.label :email, "Email"%>
    <%= f.email_field :email, class: "form-control", placeholder: "Email" %>
  </p>
  <p>
    <%= f.label :password,"Password"%>
    <%= f.password_field :password, class: "form-control", placeholder: "Password" %>
  </p>
  <!--  <div class="checkbox">
  <label>
  <input type="checkbox" value="remember-me"> Remember me
  </label>
  </div> -->
    <%= f.submit "Log In", class: "btn btn-primary", style: 
    "float: right;
    margin-top: -5px;
    margin-bottom: 10px;" %>

  <% end %>
  <p>New User? <%= link_to "Sign up now!", signup_path %></p>
</div>
  <%= render 'layouts/footer' %>
</body>
</html>
