<% provide(:title, "Log In") %>
<!DOCTYPE html>
<html>
<head>
  <script type="text/javascript" src ="AP.js"></script>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="AP.css">
  <title><%= yield(:title) %> | Bochitto Travel</title>

</head>

<body>
  <%= render 'layouts/header' %>
  <%= form_for(:session, url: login_path) do |f| %>
  <h2>Please Log In</h2>
  <p>
    <%= f.label :email, "Email", class: "sr-only" %><br>
    <%= f.email_field :email, class: "form-control", placeholder: "Email" %>
  </p>
  <p>
    <%= f.label :password, class: "sr-only" %><br>
    <%= f.password_field :password, class: "form-control", placeholder: "Password" %>
  </p>
  <!--  <div class="checkbox">
  <label>
  <input type="checkbox" value="remember-me"> Remember me
  </label>
  </div> -->
    <%= f.submit "Log In", class: "btn btn-primary btn-block" %>
  <% end %>
  <p>New User? <%= link_to "Sign up now!", signup_path %></p>
  <%= render 'layouts/footer' %>
</body>
</html>
