<%= @blogs.each do |blog| %>
<div id="post" class="card" >
  <div alt="Card image">
    <%= link_to post_path do %>
       <%= image_tag 'https://www.incimages.com/uploaded_files/image/work-vacation-policy-pop_3122.jpg', :class => "style_image card-img-top" %>
    <div id="info" class="card-body">
      <h4 class="card-title"><%= blog.destination %></h4>
      <p class="card-text"></p>
      <h3>From $<%= blog.overallPrice %></h3>
    </div>
    <% end %>
  </div>
</div>
<% end %>
