<% provide(:title, "post") %>
<!DOCTYPE html>
<html>
<head>

	<title>Foundation</title>
	<link rel="stylesheet" type="text/css" href="fon.css">


<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">


<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">


</head>


<style >

  .form_check {
    position: unset;
    display: inline-flex;
    width: 180px;

  }

     .jumbotron_fluid {

    display: table;
    width: 100%;
    height: 180px;
    margin-top: 10px;


 }

  .form-control {
    display: inherit;
    width: 76%;
  }

  .date_post_input{
    display:  inline-table;
    width: 200px;
    margin-top: 10px;

  }
  .amenities_bar{

    height: 138px;
 	float: left;
    width: 50%;
    min-width: 430px;
    margin-top: 30px;

  }

  .star {
    font-size: xx-large;
    color: #c78510;
    text-align: center;
  }
  .w-100 {

    height: 447px;

}

.post_pictures{


  width:  50%;
  float:  left;
  min-width: 400px;
}

.post_details {



    width: 50%;
    min-width: 400px;

    display: inline-block;

}

.text_area {
  width: 100%;

  height: 180px;
}

.shadow {
   -moz-box-shadow:    inset 0 0 10px #000000;
   -webkit-box-shadow: inset 0 0 10px #000000;
   box-shadow:         inset 0 0 10px #000000;
}

.body_shadow{
  box-shadow: -60px -100px 100px -90px #000000, 60px -100px 100px -90px #000000;
  height: -webkit-fill-available;
}

</style>

<body class="container body_shadow">
  <div>

  <div class=" post_pictures shadow" >
  <div id="carouselExampleSlidesOnly" class="carousel slide carousel-fade" data-ride="carousel" >
  <div class="carousel-inner" >
    <div class="carousel-item active" >
        <img  src="http://www.ricardobofill.es/wp-content/uploads//2016/03/W_Barcelona_Hotel_Ricardo_Bofill_Taller_Arquitectura_Barcelona_Spain_01.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="https://www.worldtravelguide.net/wp-content/uploads/2017/09/shu-Europe-Spain-Madrid-Financial-district-245037493-Sean-Pavone-1440x823.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="https://cdn7.dissolve.com/p/D1028_94_065/D1028_94_065_1200.jpg" class="d-block w-100" alt="...">
    </div>
  </div>
</div>
</div>

<% f = @blog %>
<div class=" container post_details">

	<h1 style="text-align: center;font-size: -webkit-xxx-large;"><%= f.destination %></h1>
	<h3 class="star">  &#x2605;&#x2605;&#x2605;&#x2605;</h3>
	<h2 style="text-align: center; font-size: small; font-style: italic;"> from <span style="font-size: xx-large; font-style: normal;"><%= f.overallPrice %></span> </h2>
	<h5 style="text-align: center;font-style: italic;">  availiable from <span> <%= f.startDate %> </span> to <span> <%= f.endDate %> </span></h5>
	<hr>
	<!--<div style=" text-align: -webkit-center;">

		<div style="text-align: center; width: 450px;">
			<div class="date_post_input">
				<label>Check in </label><br>
				<input  class="form-control" type="date" name="">
			</div>
			<div class="date_post_input">
				<label>Check in </label><br>
				<input style=" text-align: center;" class="form-control" type="date" name="">
			</div>

			<div class="date_post_input">
				<label>Guests  </label><br>
				<input  class="form-control" type="number" name="">
			</div>
			<div class="date_post_input">
				<label>Rooms </label><br>
				<input  class="form-control" type="number" name="">
			</div>



		</div>
</div> -->
    </div>

    	 	<div style="display: inline-block;width: 50%; min-width: 400px; text-align: center;margin-top: 8px;">
				<label >Details</label>
				<textarea rows="8" cols="60" placeholder=<%= f.specialDetails %>></textarea>

			</div>



            <div class="container amenities_bar shadow">
             	<div class="jumbotron_fluid">
	          		<div style="text-align: -webkit-center;" >
		              	<div class="form_check">
		                  <h5 style="color: green;padding-right: 6px;">&#10004;</h5>
		                  <label class="form-check-label" for="exampleCheck1">Breakfast included</label>
		                  </div>
		                <div class="form_check">
		                    <h5 style="color: green;padding-right: 6px;">&#10004;</h5>
		                    <label class="form-check-label" for="exampleCheck1">Swimming pool</label>
		                </div>
		                <div class="form_check">
		                    <h5 style="color: green;padding-right: 6px;">&#10004;</h5>
		                    <label class="form-check-label" for="exampleCheck1">Free WiFi</label>
		                </div>
		                <div class="form_check">
		                    <h5 style="color: green;padding-right: 6px;">&#10004;</h5>
		                    <label class="form-check-label" for="exampleCheck1">Fitness center</label>
		                </div>
		                <div class="form_check">
		                    <h5 style="color: green;padding-right: 6px;">&#10004;</h5>
		                    <label class="form-check-label" for="exampleCheck1">Free parking</label>
		                </div>
		                <div class="form_check">
		                    <h5 style="color: green;padding-right: 6px;">&#10004;</h5>
		                    <label class="form-check-label" for="exampleCheck1">Bar</label>
		                </div>
		                <div class="form_check">
		                    <h5 style="color: green;padding-right: 6px;">&#10004;</h5>
		                    <label class="form-check-label" for="exampleCheck1">Non-smoking rooms</label>
		                </div>
		                <div class="form_check">
		                    <h5 style="color: green;padding-right: 6px;">&#10004;</h5>
		                    <label class="form-check-label" for="exampleCheck1">Restaurant</label>
		                </div>
	          		</div>
        		</div>
            </div>
</div>

<hr>
<div style="text-align: center;">
<button class="btn btn-primary" type="submit" style="text-align: center">Submit Request</button>
</div>



<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

<!-- <script type="text/javascript" src="fon.js"></script>
 -->
</body>
</html>
