<% provide(:title, "Edit user") %>
<%= render 'layouts/header' %>

<body background ="http://starkovtattoo.spb.ru/images/000/DSC100052152.jpg">
<% if current_user?(@user) %>
<div class=" container row">
  <div class="col-md-6 col-md-offset-3" style="
    background: #2992c46e;
    position: sticky;
    margin-top: 5%;
    margin-bottom: 8%;
    left: 30%;
    color: white;
    border-radius: 15px;">

    <h1 style="text-align: center;">Update your profile</h1>
    <%= form_for(@user) do |f| %>

    <%= render 'shared/error_messages' %>

    <p>
      <%= f.label :name %>
      <%= f.text_field :name, class: "form-control", placeholder: "Name" %>
    </p>
    <p>
      <%= f.label :email%>
      <%= f.email_field :email, class: "form-control", placeholder: "Email" %>
    </p>
    <p>
      <%= f.label :password, class: "sr-only", style:"position:unset; overflow: visible;" %>
      <%= f.password_field :password, class: "form-control", placeholder: "Password" %>
    </p>
    <p>
      <%= f.label :password_confirmation, class: "sr-only", style:"position:unset; overflow: visible;" %>
      <%= f.password_field :password_confirmation, class: "form-control", placeholder: "Confirm Password" %>
    </p>
    <p>
      <%= f.submit "Save Changes", class: "btn btn-primary", style:
        "float: right;" %>
      <% end %>
    </p>
    <br>
  </div>

</div>

<div style="background: #faebd7e8;">
<%= render 'layouts/footer'%>
</div>
<% else %>
  <% goHome %>
<% end %>
</body>
