<!--
#
# This is the HTML file for the header, which is rendered in each other file
#
-->

<header>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<style>
  .accountButton {
    background-color: white;
    border: 2px solid navy;
    padding: 2px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-family: "Ubuntu";
    margin: 4px 2px;
    -webkit-transition-duration: 0.3s; /* Safari */
    transition-duration: 0.3s;
    cursor: pointer;
  }

  .accountButton:hover {
    background-color: blue;
    box-shadow: 0 5px 5px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  }
</style>

  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
      <a><%= link_to image_tag("m.png",width: 140, alt: "Company logo"), root_path %></a>
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0" id="box-wrap">
        <li class="nav-item" id="box">
          <%= link_to "Home", root_path, id: "logo" %>
        </li>
        <li class="nav-item" id="box">
          <%= link_to "About Us", contact_path %>
        </li>
        <li class="nav-item" id="box">
          <%= link_to "Admin", admin_path %>
        </li>

        <% if logged_in? %>
        <li class="nav-item" id="box">
          <%= link_to "Log out", logout_path, method: :delete %>
        </li>
        <% else %>
        <li class="nav-item" id="box">
            <%= link_to "Sign up", signup_path %>

        </li>
        <li class="nav-item" id="box" float="right">
            <%= link_to "Log in", login_path %>

        </li>
        <% end %>
      </ul>

<!--
      <% if logged_in? %>
      <button class="accountButton">
        <a class="form-inline my-2 my-lg-0" style="width: auto">
          <%= link_to "Log out", logout_path, method: :delete %>
        </a>
      </button>
      <% else %>

      <button class="accountButton">
        <a  class="form-inline my-2 my-lg-0" style="width: auto">
          <%= link_to "Sign up", signup_path, class: "sign_up" %>
          <i style="margin-left: 5.5px;" class="fas fa-user-plus"></i>
        </a>
      </button>

        <button class="accountButton">
        <a class="form-inline my-2 my-lg-0 button_cont" style="width: auto">
          <%= link_to "Log in", login_path, class: "sign_up" %>
          <i style="margin-left: 5.5px;margin-right: 40px;"class="fas fa-user"></i>
        </a>
      </button>
      <% end %>
-->

    </div>
  </nav>
</header>
<!--
<header>
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand">< %= link_to "TravelTeam3", root_path %></a>
      </div>
      <ul class="nav navbar-nav">
        <li class="active">< %= link_to "Home", root_path, id: "logo" %></li>
        <li>< %= link_to "Contact", contact_path %></li>
        <li>< %= link_to "Admin", admin_path %></li>
      </ul>
    </div>
  </nav>
</header> -->
<!--<header class="ui secondary  menu">
  <a class="item">
    < %= link_to "Home", 'home' %>
  </a>
  <a class="item">
    < %= link_to "Contact", 'contact' %>
  </a>
  <a class="item">
    < %= link_to "Admin", 'admin' %>
  </a>
  <div class="right menu">
    <div class="item">
      <div class="ui icon input">
        <input type="text" placeholder="Search...">
        <i class="search link icon"></i>
      </div>
    </div>
    <a class="ui item active">
      Logout
    </a>
  </div>
</header>
-->
