<!DOCTYPE html>
<html>
  <head>
    <title>Travel Team 3</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag "AP.css" %>
  </head>

  <body>
      <%= yield %>
      <script type="text/javascript" src ="app/assets/javascripts/AP.js"></script>
  </body>
</html>